/* ==========================================================================
	 _base.scss
	 ========================================================================== */

body,
html {
	margin: 0;
	padding: 0;
}

*,
p,
h1,
h2,
h3,
h4,
h5 {
	// Remove margin-top because it 
	// tends to collapse
	margin-top: 0;
}