/* ==========================================================================
	 _base.scss
	 ========================================================================== */

@if $fontSmoothing == true {
	* {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}

@if $boxSizing == true {
	* {
		box-sizing: border-box;
	}
}

body,
html {
	margin: 0;
	padding: 0;

	font-family: $mainFontFamily;
	font-size: 16px;
	line-height: 1.35;
}

*,
p,
h1,
h2,
h3,
h4,
h5 {
	// Remove margin-top because it 
	// tends to collapse
	margin-top: 0;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: $headingFontFamily;
}

p {
	margin-bottom: 15px;
}