/* ==========================================================================
	style.scss
   ========================================================================== */
/* ==========================================================================
	 _settings.scss
	 ========================================================================== */
/* ==========================================================================
	 _grid.scss
	 ========================================================================== */
/* ==========================================================================
	 _mixins.scss
	 ========================================================================== */
/* ==========================================================================
	 _layout.scss
	 ========================================================================== */
.l-container,
.l-row,
*[class^="l-col"] {
  display: block;
}

.l-container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

.l-container:after {
  content: " ";
  display: block;
  clear: both;
}

.l-hero {
  height: 400px;
}

.l-col-1 {
  width: 6.9348127601%;
  float: left;
  margin-right: 1.5256588072%;
}

.l-col-1-last {
  width: 6.9348127601%;
  float: right;
  margin-right: 0;
}

.l-col-2 {
  width: 15.3952843273%;
  float: left;
  margin-right: 1.5256588072%;
}

.l-col-2-last {
  width: 15.3952843273%;
  float: right;
  margin-right: 0;
}

.l-col-3 {
  width: 23.8557558946%;
  float: left;
  margin-right: 1.5256588072%;
}

.l-col-3-last {
  width: 23.8557558946%;
  float: right;
  margin-right: 0;
}

.l-col-4 {
  width: 32.3162274619%;
  float: left;
  margin-right: 1.5256588072%;
}

.l-col-4-last {
  width: 32.3162274619%;
  float: right;
  margin-right: 0;
}

.l-col-5 {
  width: 40.7766990291%;
  float: left;
  margin-right: 1.5256588072%;
}

.l-col-5-last {
  width: 40.7766990291%;
  float: right;
  margin-right: 0;
}

.l-col-6 {
  width: 49.2371705964%;
  float: left;
  margin-right: 1.5256588072%;
}

.l-col-6-last {
  width: 49.2371705964%;
  float: right;
  margin-right: 0;
}

.l-col-7 {
  width: 57.6976421637%;
  float: left;
  margin-right: 1.5256588072%;
}

.l-col-7-last {
  width: 57.6976421637%;
  float: right;
  margin-right: 0;
}

.l-col-8 {
  width: 66.1581137309%;
  float: left;
  margin-right: 1.5256588072%;
}

.l-col-8-last {
  width: 66.1581137309%;
  float: right;
  margin-right: 0;
}

.l-col-9 {
  width: 74.6185852982%;
  float: left;
  margin-right: 1.5256588072%;
}

.l-col-9-last {
  width: 74.6185852982%;
  float: right;
  margin-right: 0;
}

.l-col-10 {
  width: 83.0790568655%;
  float: left;
  margin-right: 1.5256588072%;
}

.l-col-10-last {
  width: 83.0790568655%;
  float: right;
  margin-right: 0;
}

.l-col-11 {
  width: 91.5395284327%;
  float: left;
  margin-right: 1.5256588072%;
}

.l-col-11-last {
  width: 91.5395284327%;
  float: right;
  margin-right: 0;
}

.l-col-12 {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

.l-col-12-last {
  width: 100%;
  float: right;
  margin-right: 0;
}

@media (min-width: 767px) {
  .l-col-sml-1 {
    width: 6.9348127601%;
    float: left;
    margin-right: 1.5256588072%;
  }
}

@media (min-width: 767px) {
  .l-col-sml-1-last {
    width: 6.9348127601%;
    float: right;
    margin-right: 0;
  }
}

@media (min-width: 767px) {
  .l-col-sml-2 {
    width: 15.3952843273%;
    float: left;
    margin-right: 1.5256588072%;
  }
}

@media (min-width: 767px) {
  .l-col-sml-2-last {
    width: 15.3952843273%;
    float: right;
    margin-right: 0;
  }
}

@media (min-width: 767px) {
  .l-col-sml-3 {
    width: 23.8557558946%;
    float: left;
    margin-right: 1.5256588072%;
  }
}

@media (min-width: 767px) {
  .l-col-sml-3-last {
    width: 23.8557558946%;
    float: right;
    margin-right: 0;
  }
}

@media (min-width: 767px) {
  .l-col-sml-4 {
    width: 32.3162274619%;
    float: left;
    margin-right: 1.5256588072%;
  }
}

@media (min-width: 767px) {
  .l-col-sml-4-last {
    width: 32.3162274619%;
    float: right;
    margin-right: 0;
  }
}

@media (min-width: 767px) {
  .l-col-sml-5 {
    width: 40.7766990291%;
    float: left;
    margin-right: 1.5256588072%;
  }
}

@media (min-width: 767px) {
  .l-col-sml-5-last {
    width: 40.7766990291%;
    float: right;
    margin-right: 0;
  }
}

@media (min-width: 767px) {
  .l-col-sml-6 {
    width: 49.2371705964%;
    float: left;
    margin-right: 1.5256588072%;
  }
}

@media (min-width: 767px) {
  .l-col-sml-6-last {
    width: 49.2371705964%;
    float: right;
    margin-right: 0;
  }
}

@media (min-width: 767px) {
  .l-col-sml-7 {
    width: 57.6976421637%;
    float: left;
    margin-right: 1.5256588072%;
  }
}

@media (min-width: 767px) {
  .l-col-sml-7-last {
    width: 57.6976421637%;
    float: right;
    margin-right: 0;
  }
}

@media (min-width: 767px) {
  .l-col-sml-8 {
    width: 66.1581137309%;
    float: left;
    margin-right: 1.5256588072%;
  }
}

@media (min-width: 767px) {
  .l-col-sml-8-last {
    width: 66.1581137309%;
    float: right;
    margin-right: 0;
  }
}

@media (min-width: 767px) {
  .l-col-sml-9 {
    width: 74.6185852982%;
    float: left;
    margin-right: 1.5256588072%;
  }
}

@media (min-width: 767px) {
  .l-col-sml-9-last {
    width: 74.6185852982%;
    float: right;
    margin-right: 0;
  }
}

@media (min-width: 767px) {
  .l-col-sml-10 {
    width: 83.0790568655%;
    float: left;
    margin-right: 1.5256588072%;
  }
}

@media (min-width: 767px) {
  .l-col-sml-10-last {
    width: 83.0790568655%;
    float: right;
    margin-right: 0;
  }
}

@media (min-width: 767px) {
  .l-col-sml-11 {
    width: 91.5395284327%;
    float: left;
    margin-right: 1.5256588072%;
  }
}

@media (min-width: 767px) {
  .l-col-sml-11-last {
    width: 91.5395284327%;
    float: right;
    margin-right: 0;
  }
}

@media (min-width: 767px) {
  .l-col-sml-12 {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (min-width: 767px) {
  .l-col-sml-12-last {
    width: 100%;
    float: right;
    margin-right: 0;
  }
}

@media (min-width: 1025px) {
  .l-col-med-1 {
    width: 6.9348127601%;
    float: left;
    margin-right: 1.5256588072%;
  }
}

@media (min-width: 1025px) {
  .l-col-med-1-last {
    width: 6.9348127601%;
    float: right;
    margin-right: 0;
  }
}

@media (min-width: 1025px) {
  .l-col-med-2 {
    width: 15.3952843273%;
    float: left;
    margin-right: 1.5256588072%;
  }
}

@media (min-width: 1025px) {
  .l-col-med-2-last {
    width: 15.3952843273%;
    float: right;
    margin-right: 0;
  }
}

@media (min-width: 1025px) {
  .l-col-med-3 {
    width: 23.8557558946%;
    float: left;
    margin-right: 1.5256588072%;
  }
}

@media (min-width: 1025px) {
  .l-col-med-3-last {
    width: 23.8557558946%;
    float: right;
    margin-right: 0;
  }
}

@media (min-width: 1025px) {
  .l-col-med-4 {
    width: 32.3162274619%;
    float: left;
    margin-right: 1.5256588072%;
  }
}

@media (min-width: 1025px) {
  .l-col-med-4-last {
    width: 32.3162274619%;
    float: right;
    margin-right: 0;
  }
}

@media (min-width: 1025px) {
  .l-col-med-5 {
    width: 40.7766990291%;
    float: left;
    margin-right: 1.5256588072%;
  }
}

@media (min-width: 1025px) {
  .l-col-med-5-last {
    width: 40.7766990291%;
    float: right;
    margin-right: 0;
  }
}

@media (min-width: 1025px) {
  .l-col-med-6 {
    width: 49.2371705964%;
    float: left;
    margin-right: 1.5256588072%;
  }
}

@media (min-width: 1025px) {
  .l-col-med-6-last {
    width: 49.2371705964%;
    float: right;
    margin-right: 0;
  }
}

@media (min-width: 1025px) {
  .l-col-med-7 {
    width: 57.6976421637%;
    float: left;
    margin-right: 1.5256588072%;
  }
}

@media (min-width: 1025px) {
  .l-col-med-7-last {
    width: 57.6976421637%;
    float: right;
    margin-right: 0;
  }
}

@media (min-width: 1025px) {
  .l-col-med-8 {
    width: 66.1581137309%;
    float: left;
    margin-right: 1.5256588072%;
  }
}

@media (min-width: 1025px) {
  .l-col-med-8-last {
    width: 66.1581137309%;
    float: right;
    margin-right: 0;
  }
}

@media (min-width: 1025px) {
  .l-col-med-9 {
    width: 74.6185852982%;
    float: left;
    margin-right: 1.5256588072%;
  }
}

@media (min-width: 1025px) {
  .l-col-med-9-last {
    width: 74.6185852982%;
    float: right;
    margin-right: 0;
  }
}

@media (min-width: 1025px) {
  .l-col-med-10 {
    width: 83.0790568655%;
    float: left;
    margin-right: 1.5256588072%;
  }
}

@media (min-width: 1025px) {
  .l-col-med-10-last {
    width: 83.0790568655%;
    float: right;
    margin-right: 0;
  }
}

@media (min-width: 1025px) {
  .l-col-med-11 {
    width: 91.5395284327%;
    float: left;
    margin-right: 1.5256588072%;
  }
}

@media (min-width: 1025px) {
  .l-col-med-11-last {
    width: 91.5395284327%;
    float: right;
    margin-right: 0;
  }
}

@media (min-width: 1025px) {
  .l-col-med-12 {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (min-width: 1025px) {
  .l-col-med-12-last {
    width: 100%;
    float: right;
    margin-right: 0;
  }
}

/*! normalize.css v6.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  margin: 0;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

/* ==========================================================================
	 _base.scss
	 ========================================================================== */
body,
html {
  margin: 0;
  padding: 0;
}

*,
p,
h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
}

/* ==========================================================================
	 _nav.scss
	 ========================================================================== */
.c-navigation--top {
  float: right;
}

.c-navigation--top a {
  color: #ffffff;
  text-decoration: none;
}

.c-navigation--top a:hover {
  text-decoration: underline;
}

/* ==========================================================================
	 _menu.scss
	 ========================================================================== */
.c-menu > li {
  list-style: none;
}

.c-menu--floats > li {
  float: left;
}

.c-menu__item {
  margin-right: 20px;
}

/* ==========================================================================
	 _header.scss
	 ========================================================================== */
.c-header {
  padding: 20px 0;
  background-color: #0091d5;
}

.c-header__title {
  margin: 0;
}

/* ==========================================================================
   _footer.scss
   ========================================================================== */
/* ==========================================================================
	 _brand.scss
	 ========================================================================== */
.c-brand__logo {
  height: 58px;
  width: 64px;
  background-image: url(../media/img/rise_logo.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.c-brand__logo-link {
  height: 100%;
  width: 100%;
}

/* ==========================================================================
	 _hero.scss
	 ========================================================================== */
.c-hero {
  position: relative;
}

.c-hero__main {
  text-align: center;
}

/* ==========================================================================
	 _utils.scss
	 ========================================================================== */
.u-sr-only {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.u-b {
  display: block;
}

.u-absolute-fill {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.u-pos-rel {
  position: relative;
}

.u-clearfix:after,
.l-container:after,
.l-row:after,
.c-menu--floats:after {
  content: "";
  display: table;
  clear: both;
}

.u-abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
/*# sourceMappingURL=style.css.map */