/* ==========================================================================
	style.scss
   ========================================================================== */
/* ==========================================================================
	 _settings.scss
	 ========================================================================== */
/* ==========================================================================
	 _grid.scss
	 ========================================================================== */
/* ==========================================================================
	 _mixins.scss
	 ========================================================================== */
/* ==========================================================================
	 _layout.scss
	 ========================================================================== */
.l-container,
.l-row,
*[class^="l-col"] {
  display: block;
}

.l-container {
  max-width: 1152px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

.l-container:after {
  content: " ";
  display: block;
  clear: both;
}

@media (min-width: 1400px) {
  .l-container {
    max-width: 1352px;
  }
}

.l-hero {
  height: 400px;
  height: calc( 100vh - 100px);
  max-height: 1024px;
}

.l-col-1 {
  width: 9.2936802974%;
  float: left;
  margin-right: 2.0446096654%;
}

.l-col-1-last {
  width: 9.2936802974%;
  float: right;
  margin-right: 0;
}

.l-push-1 {
  margin-left: 11.3382899628%;
}

.l-col-2 {
  width: 20.6319702602%;
  float: left;
  margin-right: 2.0446096654%;
}

.l-col-2-last {
  width: 20.6319702602%;
  float: right;
  margin-right: 0;
}

.l-push-2 {
  margin-left: 22.6765799257%;
}

.l-col-3 {
  width: 31.970260223%;
  float: left;
  margin-right: 2.0446096654%;
}

.l-col-3-last {
  width: 31.970260223%;
  float: right;
  margin-right: 0;
}

.l-push-3 {
  margin-left: 34.0148698885%;
}

.l-col-4 {
  width: 43.3085501859%;
  float: left;
  margin-right: 2.0446096654%;
}

.l-col-4-last {
  width: 43.3085501859%;
  float: right;
  margin-right: 0;
}

.l-push-4 {
  margin-left: 45.3531598513%;
}

.l-col-5 {
  width: 54.6468401487%;
  float: left;
  margin-right: 2.0446096654%;
}

.l-col-5-last {
  width: 54.6468401487%;
  float: right;
  margin-right: 0;
}

.l-push-5 {
  margin-left: 56.6914498141%;
}

.l-col-6 {
  width: 65.9851301115%;
  float: left;
  margin-right: 2.0446096654%;
}

.l-col-6-last {
  width: 65.9851301115%;
  float: right;
  margin-right: 0;
}

.l-push-6 {
  margin-left: 68.029739777%;
}

.l-col-7 {
  width: 77.3234200743%;
  float: left;
  margin-right: 2.0446096654%;
}

.l-col-7-last {
  width: 77.3234200743%;
  float: right;
  margin-right: 0;
}

.l-push-7 {
  margin-left: 79.3680297398%;
}

.l-col-8 {
  width: 88.6617100372%;
  float: left;
  margin-right: 2.0446096654%;
}

.l-col-8-last {
  width: 88.6617100372%;
  float: right;
  margin-right: 0;
}

.l-push-8 {
  margin-left: 90.7063197026%;
}

.l-col-9 {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

.l-col-9-last {
  width: 100%;
  float: right;
  margin-right: 0;
}

.l-push-9 {
  margin-left: 102.044609665%;
}

@media (min-width: 767px) {
  .l-col-sml-1 {
    width: 9.2936802974%;
    float: left;
    margin-right: 2.0446096654%;
  }
}

@media (min-width: 767px) {
  .l-col-sml-1-last {
    width: 9.2936802974%;
    float: right;
    margin-right: 0;
  }
}

@media (min-width: 767px) {
  .l-push-sml-1 {
    margin-left: 11.3382899628%;
  }
}

@media (min-width: 767px) {
  .l-col-sml-2 {
    width: 20.6319702602%;
    float: left;
    margin-right: 2.0446096654%;
  }
}

@media (min-width: 767px) {
  .l-col-sml-2-last {
    width: 20.6319702602%;
    float: right;
    margin-right: 0;
  }
}

@media (min-width: 767px) {
  .l-push-sml-2 {
    margin-left: 22.6765799257%;
  }
}

@media (min-width: 767px) {
  .l-col-sml-3 {
    width: 31.970260223%;
    float: left;
    margin-right: 2.0446096654%;
  }
}

@media (min-width: 767px) {
  .l-col-sml-3-last {
    width: 31.970260223%;
    float: right;
    margin-right: 0;
  }
}

@media (min-width: 767px) {
  .l-push-sml-3 {
    margin-left: 34.0148698885%;
  }
}

@media (min-width: 767px) {
  .l-col-sml-4 {
    width: 43.3085501859%;
    float: left;
    margin-right: 2.0446096654%;
  }
}

@media (min-width: 767px) {
  .l-col-sml-4-last {
    width: 43.3085501859%;
    float: right;
    margin-right: 0;
  }
}

@media (min-width: 767px) {
  .l-push-sml-4 {
    margin-left: 45.3531598513%;
  }
}

@media (min-width: 767px) {
  .l-col-sml-5 {
    width: 54.6468401487%;
    float: left;
    margin-right: 2.0446096654%;
  }
}

@media (min-width: 767px) {
  .l-col-sml-5-last {
    width: 54.6468401487%;
    float: right;
    margin-right: 0;
  }
}

@media (min-width: 767px) {
  .l-push-sml-5 {
    margin-left: 56.6914498141%;
  }
}

@media (min-width: 767px) {
  .l-col-sml-6 {
    width: 65.9851301115%;
    float: left;
    margin-right: 2.0446096654%;
  }
}

@media (min-width: 767px) {
  .l-col-sml-6-last {
    width: 65.9851301115%;
    float: right;
    margin-right: 0;
  }
}

@media (min-width: 767px) {
  .l-push-sml-6 {
    margin-left: 68.029739777%;
  }
}

@media (min-width: 767px) {
  .l-col-sml-7 {
    width: 77.3234200743%;
    float: left;
    margin-right: 2.0446096654%;
  }
}

@media (min-width: 767px) {
  .l-col-sml-7-last {
    width: 77.3234200743%;
    float: right;
    margin-right: 0;
  }
}

@media (min-width: 767px) {
  .l-push-sml-7 {
    margin-left: 79.3680297398%;
  }
}

@media (min-width: 767px) {
  .l-col-sml-8 {
    width: 88.6617100372%;
    float: left;
    margin-right: 2.0446096654%;
  }
}

@media (min-width: 767px) {
  .l-col-sml-8-last {
    width: 88.6617100372%;
    float: right;
    margin-right: 0;
  }
}

@media (min-width: 767px) {
  .l-push-sml-8 {
    margin-left: 90.7063197026%;
  }
}

@media (min-width: 767px) {
  .l-col-sml-9 {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (min-width: 767px) {
  .l-col-sml-9-last {
    width: 100%;
    float: right;
    margin-right: 0;
  }
}

@media (min-width: 767px) {
  .l-push-sml-9 {
    margin-left: 102.044609665%;
  }
}

@media (min-width: 1025px) {
  .l-col-med-1 {
    width: 9.2936802974%;
    float: left;
    margin-right: 2.0446096654%;
  }
}

@media (min-width: 1025px) {
  .l-col-med-1-last {
    width: 9.2936802974%;
    float: right;
    margin-right: 0;
  }
}

@media (min-width: 1025px) {
  .l-push-med-1 {
    margin-left: 11.3382899628%;
  }
}

@media (min-width: 1025px) {
  .l-col-med-2 {
    width: 20.6319702602%;
    float: left;
    margin-right: 2.0446096654%;
  }
}

@media (min-width: 1025px) {
  .l-col-med-2-last {
    width: 20.6319702602%;
    float: right;
    margin-right: 0;
  }
}

@media (min-width: 1025px) {
  .l-push-med-2 {
    margin-left: 22.6765799257%;
  }
}

@media (min-width: 1025px) {
  .l-col-med-3 {
    width: 31.970260223%;
    float: left;
    margin-right: 2.0446096654%;
  }
}

@media (min-width: 1025px) {
  .l-col-med-3-last {
    width: 31.970260223%;
    float: right;
    margin-right: 0;
  }
}

@media (min-width: 1025px) {
  .l-push-med-3 {
    margin-left: 34.0148698885%;
  }
}

@media (min-width: 1025px) {
  .l-col-med-4 {
    width: 43.3085501859%;
    float: left;
    margin-right: 2.0446096654%;
  }
}

@media (min-width: 1025px) {
  .l-col-med-4-last {
    width: 43.3085501859%;
    float: right;
    margin-right: 0;
  }
}

@media (min-width: 1025px) {
  .l-push-med-4 {
    margin-left: 45.3531598513%;
  }
}

@media (min-width: 1025px) {
  .l-col-med-5 {
    width: 54.6468401487%;
    float: left;
    margin-right: 2.0446096654%;
  }
}

@media (min-width: 1025px) {
  .l-col-med-5-last {
    width: 54.6468401487%;
    float: right;
    margin-right: 0;
  }
}

@media (min-width: 1025px) {
  .l-push-med-5 {
    margin-left: 56.6914498141%;
  }
}

@media (min-width: 1025px) {
  .l-col-med-6 {
    width: 65.9851301115%;
    float: left;
    margin-right: 2.0446096654%;
  }
}

@media (min-width: 1025px) {
  .l-col-med-6-last {
    width: 65.9851301115%;
    float: right;
    margin-right: 0;
  }
}

@media (min-width: 1025px) {
  .l-push-med-6 {
    margin-left: 68.029739777%;
  }
}

@media (min-width: 1025px) {
  .l-col-med-7 {
    width: 77.3234200743%;
    float: left;
    margin-right: 2.0446096654%;
  }
}

@media (min-width: 1025px) {
  .l-col-med-7-last {
    width: 77.3234200743%;
    float: right;
    margin-right: 0;
  }
}

@media (min-width: 1025px) {
  .l-push-med-7 {
    margin-left: 79.3680297398%;
  }
}

@media (min-width: 1025px) {
  .l-col-med-8 {
    width: 88.6617100372%;
    float: left;
    margin-right: 2.0446096654%;
  }
}

@media (min-width: 1025px) {
  .l-col-med-8-last {
    width: 88.6617100372%;
    float: right;
    margin-right: 0;
  }
}

@media (min-width: 1025px) {
  .l-push-med-8 {
    margin-left: 90.7063197026%;
  }
}

@media (min-width: 1025px) {
  .l-col-med-9 {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (min-width: 1025px) {
  .l-col-med-9-last {
    width: 100%;
    float: right;
    margin-right: 0;
  }
}

@media (min-width: 1025px) {
  .l-push-med-9 {
    margin-left: 102.044609665%;
  }
}

/*! normalize.css v6.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  margin: 0;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

/* ==========================================================================
	 _base.scss
	 ========================================================================== */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Poppins", "Calibri", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 1.35;
}

body {
  background-color: #FEFEFE;
}

*,
p,
h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Karla", "Gotham", "Myriad Pro", "Tahoma", sans-serif;
}

p {
  margin-bottom: 15px;
}

a {
  text-decoration: underline;
  color: #000000;
}

a:visited {
  color: #666666;
}

/* ==========================================================================
	 _buttons.scss
	 ========================================================================== */
.c-btn,
.c-btn:visited {
  padding: 18px 24px;
  border: 3px solid #ffffff;
  border-radius: 4px;
  color: #ffffff;
  font-family: "Karla", "Gotham", "Myriad Pro", "Tahoma", sans-serif;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: background-color 0.25s;
          transition: background-color 0.25s;
}

.c-btn:hover,
.c-btn:visited:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

/* ==========================================================================
	 _links.scss
	 ========================================================================== */
.c-block-link {
  position: relative;
  z-index: 2;
  -webkit-transition: color 0.15s 0.1s ease-in;
          transition: color 0.15s 0.1s ease-in;
}

.c-block-link:after {
  content: '';
  height: 102%;
  width: 0;
  position: absolute;
  left: -3px;
  top: -1%;
  z-index: -1;
  background-color: transparent;
  -webkit-transition: width 0.5s, background-color 0.25s;
          transition: width 0.5s, background-color 0.25s;
}

.no-touchevents .c-block-link:hover {
  color: #ffffff;
}

.no-touchevents .c-block-link:hover:after {
  width: calc( 100% + 6px);
  background-color: #000000;
}

.no-touchevents .c-block-link--one:hover:after {
  background-color: #f5886b;
}

.no-touchevents .c-block-link--two:hover:after {
  background-color: #fff218;
}

.no-touchevents .c-block-link--three:hover:after {
  background-color: #0091d5;
}

.no-touchevents .c-block-link--four:hover:after {
  background-color: #3cb768;
}

.no-touchevents .c-block-link--bg:hover:after {
  background-color: #efefef;
}

.no-touchevents .c-block-link--dark:hover:after {
  background-color: #000000;
}

.no-touchevents .c-block-link--white:hover:after {
  background-color: #ffffff;
}

.c-line-link {
  position: relative;
}

.c-line-link:after {
  content: '';
  height: 1px;
  width: calc( 100% + 6px);
  position: absolute;
  left: -3px;
  bottom: -2px;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform 0.45s;
          transition: transform 0.45s;
}

.c-line-link:hover:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.c-line-link,
.c-line-link a .c-line-link:hover,
.c-line-link a:hover {
  text-decoration: none;
}

.no-touchevents .c-line-link--one:after {
  background-color: #f5886b;
}

.no-touchevents .c-line-link--two:after {
  background-color: #fff218;
}

.no-touchevents .c-line-link--three:after {
  background-color: #0091d5;
}

.no-touchevents .c-line-link--four:after {
  background-color: #3cb768;
}

.no-touchevents .c-line-link--bg:after {
  background-color: #efefef;
}

.no-touchevents .c-line-link--dark:after {
  background-color: #000000;
}

.no-touchevents .c-line-link--white:after {
  background-color: #ffffff;
}

.c-footer .c-line-link:after {
  bottom: 0;
}

/* ==========================================================================
	 _hamburger.scss
	 ========================================================================== */
.c-hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter, opacity, filter;
          transition-property: opacity, filter;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.c-hamburger:hover {
  opacity: 0.7;
}

.c-hamburger__box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.c-hamburger__inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.c-hamburger__inner, .c-hamburger__inner:before, .c-hamburger__inner:after {
  width: 40px;
  height: 4px;
  background-color: #FFFFFF;
  border-radius: 4px;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
          transition-property: transform;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

.c-hamburger__inner:before, .c-hamburger__inner:after {
  content: "";
  display: block;
}

.c-hamburger__inner:before {
  top: -10px;
}

.c-hamburger__inner:after {
  bottom: -10px;
}

/* Boring
---------------------------------------- */
.c-hamburger--boring .c-hamburger__inner,
.c-hamburger--boring .c-hamburger__inner::before,
.c-hamburger--boring .c-hamburger__inner::after {
  -webkit-transition-property: none;
          transition-property: none;
}

.c-hamburger--boring.is-active .c-hamburger__inner {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.c-hamburger--boring.is-active .c-hamburger__inner:before {
  top: 0;
  opacity: 0;
}

.c-hamburger--boring.is-active .c-hamburger__inner:after {
  bottom: 0;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

/* ==========================================================================
	 _nav.scss
	 ========================================================================== */
.c-nav {
  width: 100%;
}

@media (min-width: 767px) {
  .c-nav {
    position: relative;
    top: 20px;
  }
}

.c-nav a {
  color: #ffffff;
  text-decoration: none;
}

.c-nav__trigger {
  float: right;
}

/* ==========================================================================
	 _menu.scss
	 ========================================================================== */
.c-menu {
  width: 100%;
  max-height: 0;
  padding: 0;
  margin: 0;
  position: fixed;
  left: 0;
  top: 100px;
  z-index: 999;
  overflow: hidden;
  background-color: #f5886b;
}

@media (min-width: 767px) {
  .c-menu {
    max-height: none;
    width: auto;
    border-top: none;
    float: right;
    position: static;
    overflow: visible;
  }
}

.c-menu.is-active {
  max-height: 400px;
}

.c-menu__item {
  border-bottom: 1px solid #ffffff;
  list-style: none;
}

@media (min-width: 767px) {
  .c-menu__item {
    margin-right: 20px;
    border-bottom: none;
    float: left;
  }
}

.c-menu__item:first-of-type {
  border-top: 1px solid #ffffff;
}

@media (min-width: 767px) {
  .c-menu__item:first-of-type {
    border-top: none;
  }
}

.c-menu__item > a {
  padding: 10px 20px;
  display: block;
}

@media (min-width: 767px) {
  .c-menu__item > a {
    padding: 0;
  }
}

/* ==========================================================================
	 _header.scss
	 ========================================================================== */
.c-header {
  height: 100px;
  padding: 20px 0;
  background-color: #f5886b;
}

.c-header__title {
  margin: 0;
}

/* ==========================================================================
   _footer.scss
   ========================================================================== */
.c-footer {
  padding: 60px 0;
  background-color: #f5886b;
  color: #ffffff;
}

.c-footer__block {
  margin-bottom: 25px;
}

.c-footer__title {
  margin-bottom: 15px;
  font-size: 24px;
}

.c-footer__menu-item {
  margin-bottom: 3px;
}

.c-footer__menu-link {
  padding: 0 1px;
  margin-bottom: 5px;
  border-bottom: 1px solid #ffffff;
  display: inline-block;
  line-height: 1.1;
  text-decoration: none;
}

.c-footer__menu-link:hover {
  opacity: 0.9;
}

.c-footer__promotion {
  margin-top: 25px;
  clear: both;
  font-size: 14px;
  opacity: 0.6;
}

.c-footer .c-form {
  margin-bottom: 25px;
}

.c-footer .gfield--text {
  border-bottom: 1px solid #ffffff;
}

.c-footer input::-webkit-input-placeholder,
.c-footer textarea::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.75);
}

.c-footer input::-moz-placeholder,
.c-footer textarea::-moz-placeholder {
  color: rgba(255, 255, 255, 0.75);
}

.c-footer input:-ms-input-placeholder,
.c-footer textarea:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.75);
}

.c-footer input::placeholder,
.c-footer textarea::placeholder {
  color: rgba(255, 255, 255, 0.75);
}

.c-footer .gfield--text input,
.c-footer .gfield--textarea textarea {
  color: #ffffff;
}

.c-footer .gfield--textarea textarea {
  border: 1px solid #ffffff;
}

/* ==========================================================================
	 _brand.scss
	 ========================================================================== */
.c-brand__logo {
  height: 58px;
  width: 64px;
  background-image: url(../media/img/rise_logo.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

@media (min-width: 767px) {
  .c-brand__logo {
    height: 58px;
    width: 64px;
  }
}

.c-brand__logo-link {
  height: 100%;
  width: 100%;
}

/* ==========================================================================
	 _hero.scss
	 ========================================================================== */
.c-hero {
  width: 100%;
  display: table;
  position: relative;
  -webkit-transition: height 0.75s;
          transition: height 0.75s;
  background-color: #0091d5;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.c-hero:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.05;
}

.c-hero__main {
  padding: 0 20px;
  display: table-cell;
  vertical-align: middle;
  position: relative;
  z-index: 2;
  text-align: center;
}

.c-hero__title {
  max-width: 450px;
  margin: 0 auto;
  color: #ffffff;
  position: relative;
  top: -40px;
}

.c-hero__btn {
  position: absolute;
  bottom: 45px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

/* ==========================================================================
	 _blocks.scss
	 ========================================================================== */
.c-block__title {
  margin-bottom: 15px;
  font-size: 24px;
}

.c-block:nth-of-type(1n) .c-block__title {
  color: #f5886b;
}

.c-block:nth-of-type(2n) .c-block__title {
  color: #fff218;
}

.c-block:nth-of-type(3n) .c-block__title {
  color: #0091d5;
}

.c-block:nth-of-type(4n) .c-block__title {
  color: #3cb768;
}

.c-block:nth-of-type(4) {
  clear: both;
}

/* ==========================================================================
	 _page.scss
	 ========================================================================== */
.c-page__header {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #0091d5;
  color: #ffffff;
}

.c-page__main {
  padding-top: 35px;
  padding-bottom: 60px;
}

.c-page__main:focus {
  outline: none;
}

.c-page__title {
  margin-bottom: 0;
}

.c-page__description > p {
  margin-bottom: 0;
}

/* ==========================================================================
   _bio.scss
   ========================================================================== */
.c-bio {
  margin-bottom: 20px;
}

.c-bio:last-of-type {
  margin-bottom: 0;
}

@media (min-width: 767px) {
  .c-bio:last-of-type {
    margin-bottom: 20px;
  }
}

@media (min-width: 1025px) {
  .c-bio:nth-of-type(4) {
    clear: both;
  }
}

.c-bio__title {
  margin-bottom: 15px;
  font-family: "Poppins", "Calibri", "Helvetica", sans-serif;
}

.c-bio__image-container {
  height: 96px;
  width: 96px;
  margin-bottom: 20px;
  border-radius: 50%;
  background-color: #f5886b;
  overflow: hidden;
}

.c-bio__image-container:after {
  content: '?';
  color: #ffffff;
  font-size: 24px;
}

.c-bio__image {
  height: 100%;
  z-index: 2;
}

.c-bio__image[src*='unknown'] {
  display: none;
}

.c-bio__link {
  margin-right: 5px;
  display: block;
  float: left;
}

.c-bio__link:not(:last-of-type):after {
  content: '\00a0/';
  display: inline-block;
  text-decoration: none;
}

/* ==========================================================================
	 _gravityforms.scss
	 ========================================================================== */
.gfield {
  margin-bottom: 10px;
}

.gfield--text input,
.gfield--textarea textarea {
  border: none;
  font-size: 16px;
  font-family: "Poppins", "Calibri", "Helvetica", sans-serif;
  background-color: transparent;
  color: #000000;
}

.gfield--text input:focus,
.gfield--textarea textarea:focus {
  outline: 0;
}

.gfield--text {
  width: 100%;
  padding: 2px 4px;
  border-bottom: 1px solid #000000;
  display: table;
}

.gfield--text .gfield_label,
.gfield--text .ginput_container {
  display: table-cell;
}

.gfield--text .gfield_label {
  width: 10%;
  margin-right: 5px;
}

.gfield--text input {
  width: 100%;
  padding-left: 5px;
}

.gfield--textarea {
  padding-top: 10px;
}

.gfield--textarea .gfield_label {
  padding: 2px 4px;
  display: block;
}

.gfield--textarea textarea {
  width: 100%;
  max-width: 100%;
  height: 150px;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 4px;
}

.gfield_error {
  border-bottom-color: #CC0000 !important;
}

.validation_error {
  margin-bottom: 15px;
  font-family: "Karla", "Gotham", "Myriad Pro", "Tahoma", sans-serif;
}

.gform_button {
  width: 100%;
  padding: 5px 10px;
  border: 0;
  border-radius: 4px;
  font-size: 16px;
  font-family: "Poppins", "Calibri", "Helvetica", sans-serif;
  background-color: #3cb768;
  color: #ffffff;
  cursor: pointer;
}

.no-touchevents .gform_button:hover {
  background-color: #36a45d;
}

@media (min-width: 767px) {
  .gform_button {
    width: 175px;
  }
}

/* ==========================================================================
	 _utils.scss
	 ========================================================================== */
.u-sr-only,
.validation_message,
.gfield_required {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.u-b {
  display: block;
}

.u-absolute-fill {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.u-pos-rel {
  position: relative;
}

.u-clearfix:after,
.l-container:after,
.l-row:after,
.c-menu:after,
.gfield--text:after {
  content: "";
  display: table;
  clear: both;
}

.u-abs-center,
.c-bio__image-container:after {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (min-width: 767px) {
  .u-mob-only {
    display: none;
  }
}

.u-list-reset,
.gform_fields {
  margin: 0;
  padding: 0;
  list-style: none;
}

.u-no-scroll {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.u-weight-normal {
  font-weight: normal;
}

.u-white,
.c-footer__link,
.c-footer__link:visited {
  color: #ffffff;
}

.u-bold,
.gfield_label,
.validation_error {
  font-weight: bold;
}
/*# sourceMappingURL=style.css.map */