/* ==========================================================================
	 _settings.scss
	 ========================================================================== */

$colorsMap: (
	'one'			: #f5886b,
	'two'			: #fff218,
	'three'		: #0091d5,
	'four'		: #3cb768,
	'bg'			: #efefef,
	'dark'		: #000000,
	'white'		: #ffffff
);

$breakpointsMap: (
	'tablet'					: 767px,
	'desktop'					: 1025px,
	'large-desktop'		: 1400px
);

// Fonts

$mainFontFamily			: 'Poppins', 'Calibri', 'Helvetica', sans-serif;
$headingFontFamily	: 'Karla', 'Gotham', 'Myriad Pro', 'Tahoma', sans-serif;

$fontSmoothing			: true; // set to false to disable anti-aliased font rendering

// Config

$boxSizing					: true;
