/* ==========================================================================
	 _buttons.scss
	 ========================================================================== */

.c-btn,
.c-btn:visited {
	padding: 18px 24px;

	border: 3px solid map-get( $colorsMap, 'white' );
	border-radius: 4px;

	color: map-get( $colorsMap, 'white' );

	font-family: $headingFontFamily;
	text-decoration: none;

	cursor: pointer;

	transition: background-color 0.25s;

	&:hover {
		background-color: rgba( map-get( $colorsMap, 'white'), 0.5 );
	}
}