/* ==========================================================================
	 _header.scss
	 ========================================================================== */

.c-header {
	height: 100px;
	
	padding: 20px 0;

	background-color: map-get( $colorsMap, 'three' );
}

.c-header__title {
	margin: 0;
}