/* ==========================================================================
	 _hero.scss
	 ========================================================================== */

.c-hero {
	width: 100%;

	display: table;

	position: relative;

	transition: height 0.75s;

	background-color: map-get( $colorsMap, 'three' );
	@include cover-background();

	// color overlay
	&:after {
		content: '';

		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;

		background-color: map-get( $colorsMap, 'dark' );

		opacity: 0.05;
	}
}

.c-hero__main {
	padding: 0 20px;

	display: table-cell;
	vertical-align: middle;

	position: relative;
	z-index: 2; // keep above .c-hero:after

	text-align: center;
}

.c-hero__title {
	max-width: 450px;

	margin: 0 auto;

	color: map-get( $colorsMap, 'white' );

	position: relative;
	top: -40px;
}

.c-hero__btn {
	position: absolute;

	bottom: 45px;
	left: 50%; // center align

	transform: translateX(-50%); // center align
}