/* ==========================================================================
	 _menu.scss
	 ========================================================================== */

.c-menu > li {
  list-style: none;
}

.c-menu--floats {
  @extend %u-clearfix;

  > li {
    float: left;
  }
}

.c-menu__item {
  margin-right: 20px;
}