/* ==========================================================================
	 _nav.scss
	 ========================================================================== */

.c-nav {
	width: 100%;

	@include respond-to( 'tablet' ) {
		position: relative;

		top: 20px;
	}
}

.c-nav a { // WP
	color: map-get($colorsMap, 'white');
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

.c-nav__trigger {
	float: right;
}
