/* ==========================================================================
	 _nav.scss
	 ========================================================================== */

.c-nav {
	width: 100%;
}

.c-nav a { // WP
	color: map-get($colorsMap, 'white');
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

.c-nav__trigger {
	float: right;
}