/* ==========================================================================
	 _page.scss
	 ========================================================================== */

.c-page__header {
	padding-top: 20px;
	padding-bottom: 20px;

	background-color: map-get( $colorsMap, 'three' );

	color: map-get( $colorsMap, 'white' );
}

.c-page__main {
	padding-top: 35px;

	&:focus {
		outline: none;
	}
}

.c-page__title {
	margin-bottom: 0;
}

.c-page__description {

	> p { // WP WYSIWYG
		margin-bottom: 0;
	}
}
