/* ==========================================================================
	 _utils.scss
	 ========================================================================== */

.u-sr-only,
%u-sr-only {
	position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.u-b,
%u-b {
	display: block;
}

.u-absolute-fill,
%u-absolute-fill {
	height: 100%;
	width: 100%;

	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
}

.u-pos-rel,
%u-pos-rel {
	position: relative;
}

.u-clearfix:after,
%u-clearfix:after {
	content: "";
  display: table;
  clear: both;
}

.u-abs-center,
%u-abs-center {
	position: absolute;

	top: 50%; left: 50%;
	transform: translate( -50%, -50% );
}

.u-mob-only,
%u-mob-only {
	@include respond-to( 'tablet' ) {
		display: none;
	}
}

.u-list-reset,
%u-list-reset {
	margin: 0;
	padding: 0;
}

.u-no-scroll,
%u-no-scroll {
	height: 100%;
	width: 100%;

	overflow: hidden;
}

.u-weight-normal,
%u-weight-normal {
	font-weight: normal;
}